
<label for="noCL">
	<f:translate key="tx_awitclmediadb_domain_model_tape.no_c_l" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="noCL" cols="40" rows="15" /><br />
<label for="noList">
	<f:translate key="tx_awitclmediadb_domain_model_tape.no_list" />
</label><br />
	<f:form.textarea property="noList" cols="40" rows="15" /><br />
<label for="noZep">
	<f:translate key="tx_awitclmediadb_domain_model_tape.no_zep" />
</label><br />
	<f:form.textarea property="noZep" cols="40" rows="15" /><br />
<label for="lastEditor">
	<f:translate key="tx_awitclmediadb_domain_model_tape.last_editor" />
</label><br />
	<f:form.textarea property="lastEditor" cols="40" rows="15" /><br />
<label for="editTime">
	<f:translate key="tx_awitclmediadb_domain_model_tape.edit_time" />
</label><br />
	<f:form.textfield property="editTime"  value="{tape.editTime->f:format.date()}" /><br />
<label for="digitTime">
	<f:translate key="tx_awitclmediadb_domain_model_tape.digit_time" />
</label><br />
	<f:form.textfield property="digitTime"  value="{tape.digitTime->f:format.date()}" /><br />
<label for="titleCL">
	<f:translate key="tx_awitclmediadb_domain_model_tape.title_c_l" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="titleCL" cols="40" rows="15" /><br />
<label for="titleZep">
	<f:translate key="tx_awitclmediadb_domain_model_tape.title_zep" />
</label><br />
	<f:form.textarea property="titleZep" cols="40" rows="15" /><br />
<label for="description">
	<f:translate key="tx_awitclmediadb_domain_model_tape.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="descriptionZep">
	<f:translate key="tx_awitclmediadb_domain_model_tape.description_zep" />
</label><br />
	<f:form.textarea property="descriptionZep" cols="40" rows="15" /><br />
<label for="dateCL">
	<f:translate key="tx_awitclmediadb_domain_model_tape.date_c_l" />
</label><br />
	<f:form.textfield property="dateCL"  value="{tape.dateCL->f:format.date()}" /><br />
<label for="dateZep">
	<f:translate key="tx_awitclmediadb_domain_model_tape.date_zep" />
</label><br />
	<f:form.textfield property="dateZep"  value="{tape.dateZep->f:format.date()}" /><br />
<label for="dateOn">
	<f:translate key="tx_awitclmediadb_domain_model_tape.date_on" />
</label><br />
	<f:form.textfield property="dateOn"  value="{tape.dateOn->f:format.date()}" /><br />
<label for="digit">
	<f:translate key="tx_awitclmediadb_domain_model_tape.digit" />
</label><br />
	<f:form.checkbox property="digit" value="1" /><br />
<label for="physPlace">
	<f:translate key="tx_awitclmediadb_domain_model_tape.phys_place" />
</label><br />
	<f:form.textarea property="physPlace" cols="40" rows="15" /><br />
<label for="physPlaceNotice">
	<f:translate key="tx_awitclmediadb_domain_model_tape.phys_place_notice" />
</label><br />
	<f:form.textarea property="physPlaceNotice" cols="40" rows="15" /><br />
<label for="manufact">
	<f:translate key="tx_awitclmediadb_domain_model_tape.manufact" />
</label><br />
	<f:form.textarea property="manufact" cols="40" rows="15" /><br />
<label for="nomTime">
	<f:translate key="tx_awitclmediadb_domain_model_tape.nom_time" />
</label><br />
	<f:form.textfield property="nomTime" /><br />
<label for="type">
	<f:translate key="tx_awitclmediadb_domain_model_tape.type" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="type" cols="40" rows="15" /><br />
<label for="ratio">
	<f:translate key="tx_awitclmediadb_domain_model_tape.ratio" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="ratio" cols="40" rows="15" /><br />