
<table class="tx-awit-cl-media-db" >
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.no_c_l" />
		</td>
		<td>
		{tape.noCL}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.no_list" />
		</td>
		<td>
		{tape.noList}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.no_zep" />
		</td>
		<td>
		{tape.noZep}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.last_editor" />
		</td>
		<td>
		{tape.lastEditor}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.edit_time" />
		</td>
		<td>
		{tape.editTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.digit_time" />
		</td>
		<td>
		{tape.digitTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.title_c_l" />
		</td>
		<td>
		{tape.titleCL}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.title_zep" />
		</td>
		<td>
		{tape.titleZep}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.description" />
		</td>
		<td>
		{tape.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.description_zep" />
		</td>
		<td>
		{tape.descriptionZep}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.date_c_l" />
		</td>
		<td>
		{tape.dateCL -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.date_zep" />
		</td>
		<td>
		{tape.dateZep -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.date_on" />
		</td>
		<td>
		{tape.dateOn -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.digit" />
		</td>
		<td>
		{tape.digit}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.phys_place" />
		</td>
		<td>
		{tape.physPlace}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.phys_place_notice" />
		</td>
		<td>
		{tape.physPlaceNotice}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.manufact" />
		</td>
		<td>
		{tape.manufact}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.nom_time" />
		</td>
		<td>
		{tape.nomTime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.type" />
		</td>
		<td>
		{tape.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_tape.ratio" />
		</td>
		<td>
		{tape.ratio}
		</td>
	</tr>
</table>