
<label for="startTimeTape">
	<f:translate key="tx_awitclmediadb_domain_model_take.start_time_tape" />
</label><br />
	<f:form.textfield property="startTimeTape"  value="{take.startTimeTape->f:format.date()}" /><br />
<label for="endTimeTape">
	<f:translate key="tx_awitclmediadb_domain_model_take.end_time_tape" />
</label><br />
	<f:form.textfield property="endTimeTape"  value="{take.endTimeTape->f:format.date()}" /><br />
<label for="endurance">
	<f:translate key="tx_awitclmediadb_domain_model_take.endurance" />
</label><br />
	<f:form.textfield property="endurance"  value="{take.endurance->f:format.date()}" /><br />
<label for="description">
	<f:translate key="tx_awitclmediadb_domain_model_take.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="operator">
	<f:translate key="tx_awitclmediadb_domain_model_take.operator" />
</label><br />
	<f:form.textfield property="operator" /><br />
<label for="operatorText">
	<f:translate key="tx_awitclmediadb_domain_model_take.operator_text" />
</label><br />
	<f:form.textarea property="operatorText" cols="40" rows="15" /><br />
<label for="recordDateTime">
	<f:translate key="tx_awitclmediadb_domain_model_take.record_date_time" />
</label><br />
	<f:form.textfield property="recordDateTime"  value="{take.recordDateTime->f:format.date()}" /><br />
<label for="codecMaster">
	<f:translate key="tx_awitclmediadb_domain_model_take.codec_master" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="codecMaster" /><br />
<label for="codecMid">
	<f:translate key="tx_awitclmediadb_domain_model_take.codec_mid" />
</label><br />
	<f:form.textfield property="codecMid" /><br />
<label for="picSizeMaster">
	<f:translate key="tx_awitclmediadb_domain_model_take.pic_size_master" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="picSizeMaster" /><br />
<label for="picSizeMid">
	<f:translate key="tx_awitclmediadb_domain_model_take.pic_size_mid" />
</label><br />
	<f:form.textfield property="picSizeMid" /><br />
<label for="picSizeSmall">
	<f:translate key="tx_awitclmediadb_domain_model_take.pic_size_small" />
</label><br />
	<f:form.textfield property="picSizeSmall" /><br />
<label for="fileSizeMaster">
	<f:translate key="tx_awitclmediadb_domain_model_take.file_size_master" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="fileSizeMaster" /><br />
<label for="fileSizeMid">
	<f:translate key="tx_awitclmediadb_domain_model_take.file_size_mid" />
</label><br />
	<f:form.textfield property="fileSizeMid" /><br />
<label for="fileSizeSmall">
	<f:translate key="tx_awitclmediadb_domain_model_take.file_size_small" />
</label><br />
	<f:form.textfield property="fileSizeSmall" /><br />
<label for="fileName">
	<f:translate key="tx_awitclmediadb_domain_model_take.file_name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="fileName" /><br />
<label for="codecSmall">
	<f:translate key="tx_awitclmediadb_domain_model_take.codec_small" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="codecSmall" /><br />