
<table class="tx-awit-cl-media-db" >
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.start_time_tape" />
		</td>
		<td>
		{take.startTimeTape -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.end_time_tape" />
		</td>
		<td>
		{take.endTimeTape -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.endurance" />
		</td>
		<td>
		{take.endurance}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.description" />
		</td>
		<td>
		{take.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.operator" />
		</td>
		<td>
		{take.operator}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.operator_text" />
		</td>
		<td>
		{take.operatorText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.record_date_time" />
		</td>
		<td>
		{take.recordDateTime -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.codec_master" />
		</td>
		<td>
		{take.codecMaster}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.codec_mid" />
		</td>
		<td>
		{take.codecMid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.pic_size_master" />
		</td>
		<td>
		{take.picSizeMaster}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.pic_size_mid" />
		</td>
		<td>
		{take.picSizeMid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.pic_size_small" />
		</td>
		<td>
		{take.picSizeSmall}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.file_size_master" />
		</td>
		<td>
		{take.fileSizeMaster}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.file_size_mid" />
		</td>
		<td>
		{take.fileSizeMid}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.file_size_small" />
		</td>
		<td>
		{take.fileSizeSmall}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.file_name" />
		</td>
		<td>
		{take.fileName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_awitclmediadb_domain_model_take.codec_small" />
		</td>
		<td>
		{take.codecSmall}
		</td>
	</tr>
</table>